.about-outer-container {
  background-color: #b18eb6;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  padding-bottom: 55px;
  width: 100%;
}

.about-clip-path-top {
  background-color: #b18eb6;
  clip-path: polygon(0% 50%, 0% 100%, 100% 100%);
  height: 150px;
  margin-top: -150px;
  width: 100%;
}

.profile-pic-container {
  display: flex;
  height: auto;
  justify-content: center;
  width: 30%;
}

.profile-pic {
  border-radius: 100px;
  height: 200px;
  margin: 15% 0% 0% 20%;
  width: 200px;
}

.about-info-container {
  padding: 3% 10% 0% 5%;
  width: 70%;
}

.about-text,
.bio-text {
  color: #FFF;
  font-family: 'Muli';
  letter-spacing: 0.7px;
  line-height: 180%;
}

.bio-text {
  margin-bottom: 30px;
}

.email-text {
  text-decoration-line: underline;
}

.contact-info-container {
  display: flex;
  margin-top: 5%;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  
  .about-clip-path-top {
    height: 112px;
    margin-top: -112px;
  }

  .about-outer-container {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 900px) {

  .about-outer-container {
    flex-direction: column;
    height: auto;
    padding-bottom: 50px;
  }

  .profile-pic-container {
    width: 100%;
  }

  .profile-pic {
    margin: 5% 0%;
  }

  .about-info-container {
    padding: 0% 10%;
    width: auto;
  }

}

@media only screen and (max-width: 500px) {

  .about-clip-path-top {
    height: 74px;
    margin-top: -74px;
  }

  .profile-pic-container {
    margin-bottom: 20px;
  }

  .profile-pic {
    border-radius: 75px;
    height: 150px;
    width: 150px;
  }

}


